* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 144, 144);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 25px;
}

.navbar ul li a:hover {
    color: black;
    box-shadow: 0 0 10px rgb(79, 139, 213);
}




/* -------------------HOME SECTION----------------*/
.main {

    display: block;
    margin-left: 0%;
    max-height: 100%;
    justify-content: center;
    align-items: center;

}

.home_section {
    margin-top: 150px;
}

.home_container {
    gap: 1rem;
}

.grid {
    display: grid;
}

.container {
    max-width: 900px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

@media screen and (min-width: 568px) {
    .home_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}

.home_content {
    padding-top: 3.5rem;
    align-items: center;
}

.grid {
    width: 350px;
    display: grid;
    gap: 1.5rem;
}

.home_social {
    padding-right: 50px;
    display: grid;
    row-gap: 2rem;
}

.home_social-icon {
    font-size: 2.5rem;

}

a {
    text-decoration: none;
}

@media screen and (min-width: 568px) {
    .home_info {
        width: 200px;
        height: 200px;
        grid-column: initial;

    }
}

.home_title {
    font-size: 50px;
    height: 50px;
    width: 500px;
}

.home_subtitle {
    height: 30px;
    width: 500px;
    font-size: 35px;
}

.home_description {
    font-size: 25px;
    height: 75px;
    width: 350px;
}

.avatar {
    margin-left: 450px;
    vertical-align: middle;
    width: 250px;
    height: 300px;
    border-radius: 50%;
}

.about_title {
    font-size: 25px;
    height: 50px;
    width: 500px;
}

/* -------------------ABOUT SECTION----------------*/

.about_section {
    margin-top: 150px;
}

.about_container {

    height: 300px;
    width: 50%;
}

.grid {

    height: 300px;
    width: 50%;
    display: grid;
}

.container {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    max-width: 900px;
}

@media screen and (min-width: 568px) {
    .about_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}

.about_content {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 3.5rem;
    align-items: center;
}

.grid {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    width: 350px;
    display: grid;
    gap: 1.5rem;
}

.about_social {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-right: 50px;
    display: grid;
    row-gap: 2rem;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 568px) {
    .about_info {
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        width: 200px;
        height: 200px;
        grid-column: initial;

    }
}

.about_title {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 50px;
    height: 50px;
    width: 500px;
}

.about_subtitle {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    height: 30px;
    width: 500px;
    font-size: 35px;
}

.about_description {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 25px;
    height: 75px;
    width: 350px;
}


/* -------------------SKILL SECTION----------------*/

/*  .skill_section {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px
}
.skill_container {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    gap: 1rem;
}
.grid {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    display: grid;
}
.container {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    max-width: 900px;
}
@media screen and (min-width: 568px) {
    .skill_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}
.skill_content {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 3.5rem;
    align-items: center;
}
.grid {
    width: 350px;
    display: grid;
    gap: 1.5rem;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 568px) {
    .skill_info {
        width: 200px;
        height: 200px;
        grid-column: initial;
    }
}
.skill_title {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.skill_subtitle {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    height: 30px;
    width: 500px;
    font-size: 35px;
}
.skill_description {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 25px;
    height: 75px;
    width: 350px;
}
*/

.skill_section {
    margin-top: 150px;
}

.skill_container {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    gap: 1rem;
}

.grid {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    display: grid;
}

.container {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    max-width: 900px;
}

@media screen and (min-width: 568px) {
    .skill_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}

.skill_content {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 3.5rem;
    align-items: center;
}

.grid {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    width: 350px;
    display: grid;
    gap: 1.5rem;
}

.skill_social {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-right: 50px;
    display: grid;
    row-gap: 2rem;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 568px) {
    .skill_info {
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        width: 200px;
        height: 200px;
        grid-column: initial;

    }
}

.skill_title {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 50px;
    height: 50px;
    width: 500px;
}

.skill_subtitle {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    height: 30px;
    width: 500px;
    font-size: 35px;
}

.skill_description {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 25px;
    height: 75px;
    width: 350px;
}


/* -------------------QUALIFICATION SECTION----------------*/


.qualification_section {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px
}
.qualification_container {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    gap: 1rem;
}
.grid {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    display: grid;
}
.container {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    max-width: 900px;
}
@media screen and (min-width: 568px) {
    .qualification_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}
.qualification_content {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 3.5rem;
    align-items: center;
}
.grid {
    width: 350px;
    display: grid;
    gap: 1.5rem;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 568px) {
    .qualification_info {
        width: 200px;
        height: 200px;
        grid-column: initial;
    }
}
.qualification_title {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
.qualification_subtitle {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    height: 30px;
    width: 500px;
    font-size: 35px;
}
.qualification_description {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 25px;
    height: 75px;
    width: 350px;
}



.qualification_section {
    margin-top: 150px;
}

.qualification_container {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    gap: 1rem;
}

.grid {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    display: grid;
}

.container {

    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    max-width: 900px;
}

@media screen and (min-width: 568px) {
    .qualification_content {
        grid-template-columns: max-content 1fr 1fr;
    }
}

.qualification_content {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 3.5rem;
    align-items: center;
}

.grid {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    width: 350px;
    display: grid;
    gap: 1.5rem;
}

.qualification_social {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-right: 50px;
    display: grid;
    row-gap: 2rem;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 568px) {
    .qualification_info {
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        width: 200px;
        height: 200px;
        grid-column: initial;

    }
}

.qualification_title {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    font-size: 50px;
    height: 50px;
    width: 500px;
}

.qualification_subtitle {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 80px;
    height: 30px;
    width: 500px;
    font-size: 35px;
}

.qualification_description {

    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 60px;
    font-size: 25px;
    height: 75px;
    width: 350px;
}